<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="source_target_files/css/main_style.css">
    <link rel="icon" sizes="16x16" href="{logo_path}" />
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="header-logo-block">
                <img class="header-logo" src="{logo_path}" alt="{title} Logo" class="logo">
                <div class="title-block">
                    <a class="navbar-title" href="{app_url}">{title}</a>
                    <p class="purchases-title">In-app purchases</p>
                </div>
            </div>
            <div class="navbar-menu">
                <ul class="navbar-menu-list">
                    <li class="navbar-menu-list__element">
                        <a href="#about">About</a>
                    </li>
                    <li class="navbar-menu-list__element">
                        <a href="#screenshots">Screenshots</a>
                    </li>
                    <a class="navbar-btn" href="{app_url}">Download</a>
                </ul>
            </div>
        </div>
    </nav>
    <section class="bg-home" id="home" style="  background-image:
    linear-gradient(
      180deg,
      color-mix(in srgb, var(--secondary) 60%, transparent),
      color-mix(in srgb, var(--text-secondary) 90%, transparent)
    ),
    url(source_target_files/img/{background_img});">
        <div class="home-center">
            <div class="home-container">
                <div class="home-title">
                    <div>
                        <img class="footer-logo" src="{logo_path}" alt="{title} Logo" class="logo">
                        <p class="home-title__purchases">In-app purchases</p>
                    </div>
                    <h1 class="title">
                        {title}
                    </h1>
                    <a class="home-title__download" href="{app_url}">Download</a>
                </div>
                <div class="home-visual-block">
                    <div class="phone-wrap">
                        <img class="phone-bg" src="source_target_files/img/phone-bg.png" alt="">
                        <div class="phone-content-wrapper">
                            <img class="phone-content current" src="source_target_files/img/{preview_img}" alt="">
                            <img class="phone-content next" src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <a class="title-btn" href="{app_url}">Download</a>
            <p class="purchases-title">In-app purchases</p>
        </div>
    </section>
    {components_html}
    <div id="download" class="download-container">
        <div class="download-content">
            {fidget_html}
            <div><a href="{app_url}"><img class="store-badge" src="source_target_files/img/{badge}" alt=""></div></a>
        </div>
    </div>
    <footer>
        <div class="footer-accordion">
            <h3>Privacy</h3>
            <div class="content">
                <p>We respect your privacy. Any personal information you provide is handled in accordance with data
                    protection laws. We do not share your data with third parties without your consent. For more
                    details, see our <a href="/privacy-policy">Privacy Policy</a>.</p>
            </div>
            <h3>Contact</h3>
            <div class="content">
                <p>{address_html}</p>
            </div>
            <h3>Responsible Use</h3>
            <div class="content">
                <p>
                    Our app is designed to provide an enjoyable and positive experience for all users. To maintain a
                    safe and respectful environment, please follow these responsible use principles:<br>
                    {principles_html}<br>
                    By continuing to use this app, you agree to follow these guidelines and help us maintain a safe,
                    ethical, and enjoyable digital space for everyone.
                </p>
            </div>
            <h3>Terms</h3>
            <div class="content">
                <p>Welcome to {title}! By playing, you agree to follow these simple terms:<br>
                    {terms_html}<br>
                    By continuing to play, you confirm that you understand and accept these terms. If you do not
                    agree, please refrain from using the app.</p>
            </div>
            <h3>FAQ</h3>
            <div class="content">
                <p>Here are some of the most common questions from our players:<br>
                    {faq_html}
                </p>
            </div>
        </div>
        <script src="source_target_files/js/main.js"></script>
        {cookie_html}
    </footer>
</body>

</html>