<section class="about-section" id="about">
    <div class="about-content">
        <div class="description-block">
            <p>{description_html}</p>
        </div>
        <div class="download-section">
            <div class="image-wrapper">
                <img src="{logo_path}" alt="{title} Logo" class="logo">
            </div>
            <p class="purchases-title">In-app purchases</p>
            <h1>{title}</h1>
            <div class="download-button-wrapper">
                <div href="{app_url}" class="download-button">Download</div>
            </div>
        </div>
    </div>
</section>