<aside class="sidebar">
    <div>
        <img src="{logo_path}" alt="{title} Logo" class="logo">
        <p class="purchases-title">In-app purchases</p>
        <h1>{title}</h1>
    </div>

    <div class="description">
        <h2>About</h2>
        <p>{description_html}</p>
    </div>
    <div style="display: flex; justify-content: center;">
        <a href="{app_url}" class="download_button">Download now</a>
    </div>
    {cookie_html}
    <footer>
        <div class="footer-accordion">

            <h3>Privacy</h3>
            <div class="content">
                <p>We respect your privacy. Any personal information you provide is handled in accordance with data
                    protection laws. We do not share your data with third parties without your consent. For more
                    details, see our <a href="/privacy-policy">Privacy Policy</a>.</p>
            </div>

            <h3>Contact</h3>
            <div class="content">
                <p>{address_html}</p>
            </div>

            <h3>Responsible Use</h3>
            <div class="content">
                <p>Gambling should remain <strong>entertainment</strong>. Please play responsibly.<br>
                    - You must be 18 or older.<br>
                    - Set personal deposit and time limits.<br>
                    - If gambling becomes a problem, contact <a href="https://www.gamblingtherapy.org/">Gambling
                        Therapy</a>.</p>
            </div>

            <h3>Terms</h3>
            <div class="content">
                <p>By using our website, you agree to our <a href="/terms">Terms of Use</a>.<br>
                    We do not guarantee any winnings. All content is for informational and entertainment purposes only.
                    Terms may change without notice; please check regularly.</p>
            </div>

            <h3>FAQ</h3>
            <div class="content">
                <p><strong>Q: Is a win guaranteed?</strong><br>A: No. All casino results are random. We do not guarantee
                    any winnings.</p>
                <p><strong>Q: What is the purpose of this site?</strong><br>A: This site is created for
                    <strong>entertainment purposes</strong> only. We do not encourage excessive gambling.</p>
                <p><strong>Q: Are there strategies that guarantee a win?</strong><br>A: No. Any tips are informational
                    or educational. Gambling always involves risk.</p>
                <p><strong>Q: How can I protect myself from gambling addiction?</strong><br>A: Set time and deposit
                    limits, take breaks, and contact support organizations like Gambling Therapy or GamCare.</p>
            </div>
        </div>
    </footer>
</aside>
<script src="static/js/main.js"></script>