<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-content">
                <img src="{logo_path}" alt="{title} Logo" class="logo">
                <h1>{title}</h1>
                <nav class="nav">
                    <a href="#about">About</a>
                    <a href="#screenshots">Screenshots</a>
                </nav>
            </div>
        </header>
        <main class="main-content">
            {components_html}
            <div style="display: flex; justify-content: center;">
                <a href="{app_url}" class="download_button">Download now</a>
            </div>
        </main>
        <footer class="footer">
            <p>{title} &copy; 2025</p>
        </footer>
    </div>
</body>
</html>