:root {
    --max-width: 1200px;
    --container-width: 900px;
    --section-padding: 80px;
    --nav-height: 70px;

    --border-radius: 30px;
    --transition: 0.3s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--text-primary);
    margin: 0;
    line-height: 1.7;
}

.header {
    background-color: var(--secondary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid var(--text-primary);
}

.nav {
    display: flex;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px;
    height: var(--nav-height);
}

.nav-logo {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: auto;
}

.nav a {
    color: var(--text-primary);
    text-decoration: none;
    margin-left: 20px;
    transition: color var(--transition);
}

.nav a:hover {
    color: var(--primary);
}

.hero {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary);
}

.hero-content {
    animation: slideIn 1s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-title-block {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-title-block img {
    height: 80%;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    animation: sway 1.5s ease-in-out infinite;
}

@keyframes sway {
    0%, 100% {
        transform: rotate(0deg);
    }
  30% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
}

h1 {
    font-size: clamp(3rem, 5vw, 5rem);
    margin: 0;
    line-height: 1.2;
}

.content-section {
    padding: var(--section-padding) 20px;
}

.content-section .container p {
    overflow: hidden;
    transition: max-height 0.5s ease;
    position: relative;
}

.content-section .container p {
    max-height: 50dvh;
}

.content-section .container.collapsed p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to top, var(--background), rgba(255, 255, 255, 0));
}

.content-section .container .read-more {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: color 0.2s ease;
}

.content-section .container .read-more:hover {
    color: #555;
}

.download-btn {
    margin-top: 20px;
    background-color: var(--text-secondary);
    padding: 1rem 1.7rem;
    border-radius: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
    color: white;
}

a.download-btn:hover {
    background-color: var(--text-primary);
    transform: translateY(-2px);
}

.container {
    max-width: var(--container-width);
    margin: auto;
    overflow-wrap: break-word;
}

.content-section.dark {
    background-color: var(--text-primary);
    color: var(--secondary);
}

.purchases-title {
    margin: 0;
    font-size: 10px;
    color: rgb(87, 87, 87);
}

.dark h2 {
    color: var(--primary);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: var(--secondary);
    border-top: 2px solid var(--text-primary);
    display: flex;
    gap: 2rem;
}

.gallery {
    display: grid;
    gap: 12px;
    overflow: hidden;
    width: 100%;
    margin: 30px auto;
}

.gallery img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

/* Each scrolling row */
.scroll-row {
    display: flex;
    gap: 12px;
    width: max-content;
    animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.nav-link {
    display: block;
}

.footer-accordion {
    font-family: var(--font-family);
    flex: 1;
    transition: flex 0.3s ease;
    /* smooth grow/shrink */
}

.footer-accordion h3 {
    margin: 0;
    padding: 15px 20px;
    color: var(--text-primary);
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    white-space: nowrap;
}

.footer-accordion .content {
    display: none;
    padding: 15px 20px;
    color: var(--text-secondary);
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.footer-accordion .content p {
    margin: 10px 0;
}

.footer-accordion a {
    color: var(--primary);
    text-decoration: none;
}

.footer-accordion a:hover {
    text-decoration: underline;
}

#open-cookie-settings {
    padding: 0;
}

@media (max-width: 992px) {
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .nav-link {
        display: none;
    }

    .nav {
        justify-self: center;
    }


}