<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" sizes="16x16" href="{logo_path}" />
    <link rel="stylesheet" href="source_target_files/css/main_style.css">
</head>

<body>

    <div class="header-container" style="background-image: linear-gradient(135deg, 
    color-mix(in srgb, var(--secondary) 90%, transparent),
    color-mix(in srgb, var(--text-secondary) 100%, transparent)),
    url(source_target_files/img/{background_img});">
        <header class="nav-bar">
            <a href="{app_url}" id="title" class="nav-title">{title}</a>
            <nav class="nav-menu">
                <a href="#about" class="nav-title">About</a>
                <a href="#screenshots" class="nav-title">Screenshots</a>
            </nav>
        </header>

        <div class="hero-section">
            <h1 class="hero-title">{title}</h1>
            <p class="hero-subtitle">Next-level experience</p>
            {fidget_html}
            <a href="{app_url}" class="hero-button">Download</a>
        </div>
    </div>

    <main class="main-container">
        {components_html}
    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo-block">
                <img class="footer-logo" src="{logo_path}" alt="{title} Logo" class="logo">
                <h3 class="footer-title">{title}</h3>
            </div>
            <div class="footer-accordion">

                <h3>Privacy</h3>
                <div class="content">
                    <p>We respect your privacy. Any personal information you provide is handled in accordance with data
                        protection laws. We do not share your data with third parties without your consent. For more
                        details, see our <a href="/privacy-policy">Privacy Policy</a>.</p>
                </div>

                <h3>Contact</h3>
                <div class="content">
                    <p>{address_html}</p>
                </div>

                <h3>Responsible Use</h3>
                <div class="content">
                    <p>
                        Our app is designed to provide an enjoyable and positive experience for all users. To maintain a
                        safe and respectful environment, please follow these responsible use principles:<br>
                        {principles_html}<br>
                        By continuing to use this app, you agree to follow these guidelines and help us maintain a safe,
                        ethical, and enjoyable digital space for everyone.
                    </p>
                </div>

                <h3>Terms</h3>
                <div class="content">
                    <p>Welcome to {title}! By playing, you agree to follow these simple terms:<br>
                        {terms_html}<br>
                        By continuing to play, you confirm that you understand and accept these terms. If you do not
                        agree, please refrain from using the app.</p>
                </div>

                <h3>FAQ</h3>
                <div class="content">
                    <p>Here are some of the most common questions from our players:<br>
                        {faq_html}
                    </p>
                </div>
            </div>
            <script src="source_target_files/js/main.js"></script>
            {cookie_html}
            <div class="footer-text">
                <span>All rights reserved. Copyright © 2025</span>
            </div>
        </div>
    </footer>

</body>

</html>